[user]
	name = Cory Li
	email = coryli@mit.edu

[color]
	ui = true

[alias]
  addremove = add -A
  co = checkout
  ci = commit
  st = status
  unstage = reset HEAD --
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
